In [1]:
t1=(1,3,4,5,6,7,8)
print(t1)

(1, 3, 4, 5, 6, 7, 8)

In [4]:
t1[0]==11                                         #this is not changing value for 0th index
print(t1)

(1, 3, 4, 5, 6, 7, 8)

In [5]:
#we can calculate length of tuples

print(len(t1))

7

In [6]:
min(t1)                                       #minimum functiom

1

In [7]:
max(t1)

8

In [8]:
sum(t1)

34

In [10]:
print(type(t1))

<class 'tuple'>

In [11]:
#join two tuples
t2=("cherry","mango","litci")
t3= t1+t2
print(t3)

(1, 3, 4, 5, 6, 7, 8, 'cherry', 'mango', 'litci')

In [12]:
for x in t3:
    print(x)

1
3
4
5
6
7
8
cherry
mango
litci

In [13]:
t4=t3*2                          #multipy tuples
print(t4)

(1, 3, 4, 5, 6, 7, 8, 'cherry', 'mango', 'litci', 1, 3, 4, 5, 6, 7, 8, 'cherry', 'mango', 'litci')

In [14]:
for x in t4:
    print(x)

1
3
4
5
6
7
8
cherry
mango
litci
1
3
4
5
6
7
8
cherry
mango
litci

In [22]:
#access tuple item
print("the first element of t4:",t4[0])

the first element of t4: 1

In [24]:
print(t4[1:5])

(3, 4, 5, 6)

In [25]:
t4[-1:]

('litci',)

In [27]:
# we can access and search
if "mango"in t4:
    print("mango in the tuple")

mango in the tuple

In [11]:
'''tuple is not changable but  we can change by coverting them into list then again into tuple'''
t=(1,2,3,4,5,6)
x=list(t)
print(x)
x[1]="changes"
t=tuple(x)
print("tuple after changing:",t)

[1, 2, 3, 4, 5, 6]
tuple after changing: (1, 'changes', 3, 4, 5, 6)

In [17]:
#st=single element tuple
st=(1,)
st1=(1)
print(type(st))
print(type(st1))
print("if we have only single element in tuples then this how we can write it (,) ")

<class 'tuple'>
<class 'int'>
if we have only single element in tuples then this how we can write it (,)

In [18]:
#append any many more method of list we can use
t=(1,23,3,4,4,5)
print(t)
y=list(t)
y.append(23)
y.insert(7,"insert at 7th place")
x=tuple(y)
print(x)

(1, 23, 3, 4, 4, 5)
(1, 23, 3, 4, 4, 5, 23, 'insert at 7th place')

In [21]:
thistuple = ("ram", "tushara", "priya")
del thistuple     #it will delete whole tuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [22]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red) # it will print remaining element in form of list

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#Loop Through a Tuple
for x in fruits:
    print(x)

In [ ]:
tn=("x","y","z") 
print(count(tn))

In [ ]:
print(index(tn))